# Ignore all files by default
*

# Include these files only (not ignore)
!package*.json

!.eslintignore
!.eslintrc.js

!tsconfig.json
!tsconfig.prod.json

!jest.config.ts

# allowed folders
!src
!data
!tests